Weekly-Sentinel-Report/template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App"
      }
    }
  },
  "variables": {
    "location": "[resourceGroup().location]",
    "connections": {
      "azuremonitorlogs-1": {
        "id": "[concat('/subscriptions/439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e/providers/Microsoft.Web/locations/eastus/managedApis/azuremonitorlogs')]",
        "connectionId": "[concat('/subscriptions/439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e/resourceGroups/AZ-SECURITYIDP-RG/providers/Microsoft.Web/connections/azuremonitorlogs-4')]",
        "connectionName": "azuremonitorlogs-4"
      },
      "office365_1": {
        "id": "[concat('/subscriptions/439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e/providers/Microsoft.Web/locations/eastus/managedApis/office365')]",
        "connectionId": "[concat('/subscriptions/439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e/resourceGroups/AZ-SECURITYIDP-RG/providers/Microsoft.Web/connections/office365-4')]",
        "connectionName": "office365-4"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[variables('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 7,
                "startTime": "2023-11-10T13:00:00Z",
                "timeZone": "Eastern Standard Time"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 7,
                "startTime": "2023-11-10T13:00:00Z",
                "timeZone": "Eastern Standard Time"
              }
            }
          },
          "actions": {
            "Open_Incidents_Count_Query": {
              "type": "ApiConnection",
              "runAfter": {},
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "//Count of Open Incidents by Severity\nSecurityIncident\n| where LastModifiedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Status == \"New\" or Status == \"Active\"\n| summarize count () by Severity\n| project Severity, Count_of_Open_Incidents=count_",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Count_of_Automated_Investigations": {
              "type": "ApiConnection",
              "runAfter": {
                "Open_Incidents_Count_Query": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "//Count of Automated Investigations\nSecurityIncident\n| where LastModifiedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Title has \"Automated investigation\"\n| summarize count ()\n| project Count_of_Automated_Investigations=count_",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Auto_Closed_Count": {
              "type": "ApiConnection",
              "runAfter": {
                "Count_of_Automated_Investigations": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "//Count of Auto-closed Incidents\nSecurityIncident\n| where LastModifiedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Status == \"Closed\"\n| where ClassificationComment contains \"Auto-closed\"\n| summarize count ()\n| project Count_of_AutoClosed_Incidents=count_",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Auto_Revoked_Sign-in_Count": {
              "type": "ApiConnection",
              "runAfter": {
                "Auto_Closed_Count": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "SecurityIncident\n| where LastModifiedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Labels contains \"Auto-revoked\"\n| project IncidentNumber, TimeGenerated, Owner, Status, Severity, LastModifiedTime\n| sort by TimeGenerated desc",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Count_of_Auto_Isolate": {
              "type": "ApiConnection",
              "runAfter": {
                "Auto_Revoked_Sign-in_Count": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "//Count of Auto-Isolate Actions\nSecurityIncident\n| where LastModifiedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Labels contains \"Auto-Isolate\"\n| where Labels !contains \"Audit-Auto-Isolate\"\n| summarize count ()\n| project Count_of_AutoIsolate_Actions=count_",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Uploads_over_1GB_Count": {
              "type": "ApiConnection",
              "runAfter": {
                "Count_of_Auto_Isolate": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "SecurityIncident\n| where CreatedTime > ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| where Title contains \"CHD | Data Exfiltration Uploads\"\n| summarize count ()\n| project Count_of_Cloud_Uploads_Over_1GB=count_",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Top_10_Users_still_using_SMS_for_MFA": {
              "type": "ApiConnection",
              "runAfter": {
                "Uploads_over_1GB_Count": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "let isGUID = \"[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}\";\nSigninLogs\n| where TimeGenerated > ago(7d)\n| mv-expand todynamic(AuthenticationDetails)\n| extend AuthenticationMethod = tostring(AuthenticationDetails.authenticationMethod)\n| where AuthenticationMethod !in (\"Previously satisfied\", \"Password\", \"Other\")\n    and isnotempty(AuthenticationMethod)\n    and not(UserPrincipalName matches regex isGUID)\n| where AuthenticationMethod == \"Text message\"\n| summarize SMS_Auth_Count=count() by UserPrincipalName\n| top 10 by SMS_Auth_Count desc\n| project UserPrincipalName, SMS_Auth_Count",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Set in query",
                  "visType": "Html Table"
                }
              }
            },
            "Send_an_email_(V2)": {
              "type": "ApiConnection",
              "runAfter": {
                "SRVARCON_Lock_State": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').office365_1.connectionId]"
                  }
                },
                "method": "post",
                "body": {
                  "To": "ed.scott@churchdwight.com, gregory.hall@quisitive.com, Peter.Aziz@churchdwight.com, rick.shepard@quisitive.com",
                  "Subject": "CHD Sentinel Weekly Metrics Report",
                  "Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Sentinel Ingestion - Last 7 Days </strong></b>@{base64ToString(body('Sentinel_Estimated_Cost_Monthly_Tally')?['body'])}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Top 10 Users Still Using SMS for MFA </strong></b>@{base64ToString(body('Top_10_Users_still_using_SMS_for_MFA')?['body'])}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Count of Open Incidents By Severity - Last 7 Days</strong></b> @{base64ToString(body('Open_Incidents_Count_Query')?['body'])}<br><b><strong class=\"editor-text-bold\">Count of Automated Investigations - Last 7 Days</strong></b> @{base64ToString(body('Count_of_Automated_Investigations')?['body'])}<br><b><strong class=\"editor-text-bold\">Count of Auto-closed Incidents - Last 7 Days</strong></b> @{base64ToString(body('Auto_Closed_Count')?['body'])}<br><b><strong class=\"editor-text-bold\">Count of Auto-Revoke Sign-in Sessions - Last 7 Days</strong></b> @{base64ToString(body('Auto_Revoked_Sign-in_Count')?['body'])}<br><b><strong class=\"editor-text-bold\">Count of Auto-Isolate Actions - Last 7 Days</strong></b> @{base64ToString(body('Count_of_Auto_Isolate')?['body'])}<br><b><strong class=\"editor-text-bold\">Count of Cloud Uploads Over 1GB - Last 7 Days</strong></b> @{base64ToString(body('Uploads_over_1GB_Count')?['body'])}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Top 10 Phished Account - Last 7 Days </strong></b>@{base64ToString(body('Top_10_Most_Phished_Users')?['body'])}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">SRVArcon Lock History - Last 7 Days</strong></b> @{base64ToString(body('SRVARCON_Lock_State')?['body'])}<br><b><strong class=\"editor-text-bold\">Permanant Assignment of RBAC Roles </strong></b>@{base64ToString(body('Permanant_RBAC_Role_Assignment_Query')?['body'])}</p><br>"
                },
                "path": "/v2/Mail"
              }
            },
            "Permanant_RBAC_Role_Assignment_Query": {
              "type": "ApiConnection",
              "runAfter": {
                "Top_10_Users_still_using_SMS_for_MFA": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "AuditLogs\n| where OperationName == \"Add member to role\"\n| mv-expand TargetResources\n| where TargetResources.type == \"Role\"\n| where ResultDescription has \"Permanent\"\n| project TimeGenerated, InitiatedBy, TargetResources.displayName, ResultDescription\n| order by TimeGenerated desc",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Last 7 days",
                  "visType": "Html Table"
                }
              }
            },
            "Sentinel_Estimated_Cost_Monthly_Tally": {
              "type": "ApiConnection",
              "runAfter": {
                "Top_10_Most_Phished_Users": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "let Price = 4.3;  // Define the price per GB here\nUsage\n| where IsBillable == true\n| summarize size = sum(Quantity) / 1024.0 by IsBillable\n| project ['Total data ingestion [GB]'] = round(size * 10) / 10, ['Estimated cost [USD]'] = round(size * Price * 100) / 100",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Last 7 days",
                  "visType": "Html Table"
                }
              }
            },
            "Top_10_Most_Phished_Users": {
              "type": "ApiConnection",
              "runAfter": {
                "Permanant_RBAC_Role_Assignment_Query": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "let AverageThreatPerRecipient = toscalar(EmailEvents | where DetectionMethods != \"\" | summarize total=count() by RecipientEmailAddress | summarize avg(total)); EmailEvents | where DetectionMethods != \"\" | summarize total=count() by RecipientEmailAddress | where tolong(total) >= 1 * AverageThreatPerRecipient | sort by total desc | limit 10",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Last 7 days",
                  "visType": "Html Table"
                }
              }
            },
            "SRVARCON_Lock_State": {
              "type": "ApiConnection",
              "runAfter": {
                "Sentinel_Estimated_Cost_Monthly_Tally": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[variables('connections').azuremonitorlogs-1.connectionId]"
                  }
                },
                "method": "post",
                "body": "IdentityDirectoryEvents\n| where ActionType == 'Account Unlock changed'\n| extend AccountLockStatus = iif(tobool(parse_json(AdditionalFields)['TO Account Unlock']), 'Locked', 'Unlocked')\n| where TargetAccountUpn contains \"SvcARCON\"\n| project TimeGenerated, TargetAccountUpn, TargetAccountDisplayName, AccountLockStatus, Type, ActionType, Application\n",
                "path": "/visualizeQuery",
                "queries": {
                  "subscriptions": "439fb3d7-83ad-4c2f-a8e6-b0fd816cb41e",
                  "resourcegroups": "AZ-SECURITYIDP-RG",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "az-azureadlogprod-lws",
                  "timerange": "Last 7 days",
                  "visType": "Html Table"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": "[variables('connections')]"
          }
        }
      }
    }
  ]
}
